# Server Listening Port
PORT=

# Database URI
DB_URI=

# Frontend URL
URL=

# JWT

JWT_SECRET=
JWT_ACCESS_TOKEN_EXPIRE=5min
JWT_REFRESH_TOKEN_EXPIRE=1y

# Password Reset Emails

EMAIL_SERVICE=
EMAIL_USERNAME=
EMAIL_PASSWORD=
EMAIL_FROM=

# Cookies 

COOKIE_SECURE=true
COOKIE_SAME_SITE=Lax